@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Montserrat';
  height: 100vh;
  width: 100vw;
  background-color: #D0D0D0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0px;
}
.imageStyling {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  background-color:#D0D0D0;
}
.navbarLogo {
  display: flex;
  justify-content: flex-start;
  width: 50vw;
  height: 10vh;
  align-items: center;
  margin-left: 5vw;
  font-size: 50px;
  font-weight: bold;
}
.navbarItems {
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  width: 80vw;
  height: 10vh;
  align-items: center;
}
.navbarItem {
  border-bottom: 0px solid black;
  padding: 0px;
  margin: 0px;
  transition: 0.1s;
}

.contentBlock {
  margin-top: 20vh;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
}
.contentBlock2 {
  margin-top: 20vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20vh;
}
.contentBlockONas {
  margin-top: 20vh;
  width: 100vw;
  height: 270vh;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20vh;
}
.contentText {
  margin-top: 10vh;
  width: 40vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 45px;
}
.contentText2 {
  width: 80vw;
}
.contentImage {
  width: 40vw;
  height: 70vh;
  background-image: url("https://images.unsplash.com/photo-1505156868547-9b49f4df4e04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1016&q=80");
}
.footerBlock {
  margin-top: 10vh;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5vh;
  font-size: 20px;
}
.footerInstall {
  width: 50vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
}
.installAppleBig {
  background-image: url("https://cdn.discordapp.com/attachments/979474409792360458/1051802134942851162/Screenshot_2022-12-12_at_11.05.58.png");
  width: 20vw;
  height: auto;
}
.installGoogleBig {
  background-image: url("https://cdn.discordapp.com/attachments/979474409792360458/1051802135286775848/Screenshot_2022-12-12_at_11.06.06.png");
  width: 20vw;
  height: auto;
}
.footerArrows {
  width: 80vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.installIconApple {
  background-image: url("https://cdn.discordapp.com/attachments/979474409792360458/1051802134942851162/Screenshot_2022-12-12_at_11.05.58.png");
  width: 200px;
  height: 60px;
  border-radius: 3%;
}
.installIconGoogle {
  background-image: url("https://cdn.discordapp.com/attachments/979474409792360458/1051802135286775848/Screenshot_2022-12-12_at_11.06.06.png");
  width: 200px;
  height: 60px;
  border-radius: 3%;
}
.footerText {
  width: 10vw;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: black;
  transition: 0.15s;
}
.contact {
  color: #D0D0D0;
  background-color: black;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.contentText3 {
  width: 50vw;
  display: flex;
  justify-content: center;
  text-align: center;
}
.oNasDiv {
  width: 70vw;
  font-size: 40px;
}
.underlinedtext {
  border-bottom: 4px solid #000;
  padding: 10px;
  margin: -10px;
}
.underlinedtextLogo {
  border-bottom: 4px solid #000;
  padding-left: 10px;
  padding-right: 10px;
  margin: -10px;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #D0D0D0;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  border-top: 4px solid black;
  min-height: 15vh;
}

footer img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}

footer .left {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #2A2A2A;
}

footer .right {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 10px;
}

.navbar .nav-btn {
  display: none;
}

.navbar #nav-check {
  display: none;
}

.calculatorBlock {
  text-align: center;
  justify-content: center;
  background-color: black;
  color: #D0D0D0;
  border-radius: 20px;
  padding: 10px;
}
.resultBlock {
  display: flex;
  justify-content: center;
}
.downloadSize {
  width: 408px;
  height: 120px;
}
.navbarItem:hover {
  border-bottom: 4px solid #000;
  padding: 10px;
  margin: -10px;
  transition: 0.4s;
}
.cenikHeader {
  text-align: center;
  padding: 50px;
}
.downloadFlex {
  display: flex;
  justify-content: space-between;
}
.piText {
  font-size: 25px;
  font-weight: 600;
}
@media (max-width:600px) {

  .navbar .navbarLogo {
    font-size: 100%;
  }

  .navbar .underlinedtextLogo {
    border-bottom: 4px solid #000;
    padding-left: 2px;
    padding-right: 2px;
    margin: -5px;
  }
  .navbar > .navbarItems {
    font-size: 85%;
    display: flex;
    justify-content: space-around;
    width: 80vw;
    height: 10vh;
    align-items: center;

  }
  .navbar > .navbarItems > a {
    display: block;
    width: 100%;
  }
  .navbar > #nav-check:not(:checked) ~ .navbarItems {
    height: 0px;
  }
  .navbar > #nav-check:checked ~ .navbarItems {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .contentBlock .contentText{
    font-size: 180%;
  }

  .contentBlock2 .contentText{
    font-size: 190%;
  }

  .footerArrows i {
    font-size: 200%;
  }

  footer .left img{
    width: 25%;
    height: auto;
  }

  footer .left span{
   font-size: 80%;
  }

  footer .right span{
    font-size: 50%;
   }
  .footerInstall {
    width: 101vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
  }
  .footerBlock {
    flex-direction: column;
  }
  .installIconApple {
    width: 150px;
    height: 45px;
  }
  .installIconGoogle {
    width: 150px;
    height: 45px;
  }
  .footerText {
    width: 50vw;
    font-size: 15px;
  }
  .footerArrows {
    margin-bottom: 2vh;
    margin-top: 2vh;
  }
  .downloadFlex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .downloadSize {
    width: 272px;
    height: 80px;
  }
  .contentBlockONas {
    margin-top: 0px;
    height: 4030px;
  }
  .oNasDiv {
    width: 80vw;
  }
  .specialText {
    font-size: 150% !important;
  }
  .navbar {
    height: 7vh;
  }
  .indexNavbar {
    height: 6vh !important;
  }
}
@media (max-width: 380px) {
  .footerBlock {
    height: 14vh;
  }
  .navbar {
    height: 8vh;
  }
}
